<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>My ToDos</h1>
      <%= render 'form', to_do: ToDo.new %>
      <ul class="list-group">
        <% @to_dos.each do |to_do| %>
          <%= render 'to_do', to_do: to_do %>
        <% end %>
    </div>
  </div>
</div>



<script>
  $('ul').sortable({
    axis: "y",
    opacity: 0.7,
    update: function() {
      $.ajax({
        url: "<%= re_sort_url %>",
        type: 'PATCH',
        data: $('ul').sortable('serialize'),
      });
    }
  });
</script>
